@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Palette+Mosaic&family=Roboto:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-color: #1465bb;
    padding: 10px;
}
h1{
    display: inline-block;
    text-align: center;
    font-size: 50px;
    padding: 5px;
}
img{
    width: 55px;
    height: 55px;
}
nav{
    display: flow-root;
    justify-content: space-around;
}
nav ul a:hover{
    color: blue;
}
nav ul{
    background-color: white;
    text-align: right;
    font-size: large;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
nav a{
    color: black;
    padding: 3px;
    margin: 5px;
    text-decoration: none;
}
form{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cuadro{
    border: 3px solid;
    background-color: whitesmoke;
}
.apellido{
    text-decoration: underline;
}
.nombre{
    text-decoration: underline;
}
.formulario{
    font-weight: bold;
    text-decoration: underline;
}
div{
    border: 1px solid black;
    margin: 2px;
}
h2{
    text-align: left;
    font-size: 50px;
}
.footer-padre{
    display: flex;
    justify-content: right;
}
.grid-tiposcursos{
    display: grid;
    grid-template-columns: repeat(2, 50%) ;
    grid-template-rows: auto;
    grid-template-areas:
    "inicial inicial"
    "junior junior"
    "senior senior"
    "tactica tactica";
}
.inicial{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-area: inicial;
    text-align: center;
    background-color: #ffff6a;
}
.junior{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-area: junior;
    text-align: center;
    background-color: #ffff6a;
    
}
.senior{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-area: senior;
    text-align: center;
    background-color: #ffff6a;
}
.tactica{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-area: tactica;
    text-align: center;
    background-color: #ffff6a;
}
.curso{
        font-size: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        text-decoration: underline;
        display: flex;
        flex-direction: column;
}
.pa{
    font-size: 20px;
}
.pi{
    font-size: 20px;
}
.po{
    font-size: 20px;
}
.pe{
    font-size: 20px;
}
.imagen1{
    height: 380px;
    width: 380px;
}
.imagen2{
    height: 380px;
    width: 380px;
}
.imagen3{
    height: 380px;
    width: 380px;
}
.imagen4{
    height: 380px;
    width: 380px;
}
ol{
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

.mapa{
    background-image: url(/img/ubicacion.jpg);
    height: 600px;
    width: 800px;
    
}
.ubi{
    text-align: left;
    padding: 30px;
    margin: 15px;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dts-carlos{
    height: 290px;
    width: 290px;
}
.dts-caldas{
    height: 290px;
    width: 290px;
}

.retegui{
    font-size: xx-large;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}
.caldas{
    font-size: xx-large;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 320px){
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Palette+Mosaic&family=Roboto:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-color: #1465bb;
    padding: 10px;
}
h1{
    display: inline-block;
    text-align: center;
    font-size: 50px;
    padding: 5px;
}
img{
    width: 55px;
    height: 55px;
}
nav{
    display: flow-root;
    justify-content: space-around;
}
nav ul a:hover{
    color: blue;
}
nav ul{
    background-color: white;
    text-align: right;
    font-size: large;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
nav a{
    color: black;
    padding: 3px;
    margin: 5px;
    text-decoration: none;
}
form{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cuadro{
    border: 3px solid;
    background-color: whitesmoke;
}
.apellido{
    text-decoration: underline;
}
.nombre{
    text-decoration: underline;
}
.formulario{
    font-weight: bold;
    text-decoration: underline;
}
div{
    border: 1px solid black;
    margin: 2px;
}
h2{
    text-align: left;
    font-size: 50px;
}
.footer-padre{
    display: flex;
    justify-content: right;
}
.grid-tiposcursos{
    display: grid;
    grid-template-columns: repeat(2, 50%) ;
    grid-template-rows: auto;
    grid-template-areas:
    "inicial inicial"
    "junior junior"
    "senior senior"
    "tactica tactica";
}
.inicial{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-area: inicial;
    text-align: center;
    background-color: #ffff6a;
}
.junior{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-area: junior;
    text-align: center;
    background-color: #ffff6a;
    
}
.senior{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-area: senior;
    text-align: center;
    background-color: #ffff6a;
}
.tactica{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-area: tactica;
    text-align: center;
    background-color: #ffff6a;
}
.curso{
        font-size: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        text-decoration: underline;
        display: flex;
        flex-direction: column;
}
.pa{
    font-size: 20px;
}
.pi{
    font-size: 20px;
}
.po{
    font-size: 20px;
}
.pe{
    font-size: 20px;
}
.imagen1{
    height: 380px;
    width: 380px;
}
.imagen2{
    height: 380px;
    width: 380px;
}
.imagen3{
    height: 380px;
    width: 380px;
}
.imagen4{
    height: 380px;
    width: 380px;
}
ol{
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

.mapa{
    background-image: url(/img/ubicacion.jpg);
    height: 600px;
    width: 800px;
    
}
.ubi{
    text-align: left;
    padding: 30px;
    margin: 15px;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dts-carlos{
    height: 290px;
    width: 290px;
}
.dts-caldas{
    height: 290px;
    width: 290px;
}

.retegui{
    font-size: xx-large;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}
.caldas{
    font-size: xx-large;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

}
